In [1]:
#imports
import pandas as pd

In [10]:
#load files
astroph_df = pd.read_csv("communities/CA-AstroPh.txt", sep='\t')
condmat_df = pd.read_csv("communities/CA-CondMat.txt", sep='\t')
grqc_df = pd.read_csv("communities/CA-GrQc.txt", sep='\t')
hepph_df = pd.read_csv("communities/CA-HepPh.txt", sep='\t')
hepth_df = pd.read_csv("communities/CA-HepTh.txt", sep='\t')

In [16]:
#astroph_df.head()
#condmat_df.head()
#grqc_df.head()
#hepph_df.head()
hepth_df.head()

   FromNodeId  ToNodeId
0       24325     24394
1       24325     40517
2       24325     58507
3       24394      3737
4       24394      3905